# Overview Latihan 1 - PTIK Data Science
Buatlah program untuk menghitung banyaknya transaksi yang terjadi di supermarket X yang berada di negara Kanada selama bulan November 2016. Gunakan data dari file Excel transaksi belanja (Sample - Superstore.xls)

# Setup Directory

In [1]:
import os

In [5]:
os.chdir('drive/My Drive/PythonProject/Latihan-DataScience')

In [9]:
os.listdir()

['Latihan1.ipynb',
 'Data',
 '.git',
 '.github',
 '.gitignore',
 'LICENSE',
 'README.md']

# Mempersiapkan Data

In [7]:
import pandas as pd
import numpy as np

In [10]:
os.listdir('Data')

['AppleStore.csv',
 'Sample%20-%20Superstore.xls',
 'denver-crimes.zip',
 'top-250-football-transfers-from-2000-to-2018.zip',
 'weight-height.csv',
 'world.sql.zip']

In [11]:
# Loading data excel ke dalam notebook dengan pandas
df = pd.read_excel('Data/Sample%20-%20Superstore.xls')

In [13]:
df.head()

   Row ID        Order ID Order Date  ... Quantity Discount    Profit
0       1  CA-2016-152156 2016-11-08  ...        2     0.00   41.9136
1       2  CA-2016-152156 2016-11-08  ...        3     0.00  219.5820
2       3  CA-2016-138688 2016-06-12  ...        2     0.00    6.8714
3       4  US-2015-108966 2015-10-11  ...        5     0.45 -383.0310
4       5  US-2015-108966 2015-10-11  ...        2     0.20    2.5164

[5 rows x 21 columns]

In [14]:
# Mendeskripsikan dataframe (rata rata, standard deviation, dll)
df.describe()

            Row ID   Postal Code  ...     Discount       Profit
count  9994.000000   9994.000000  ...  9994.000000  9994.000000
mean   4997.500000  55190.379428  ...     0.156203    28.656896
std    2885.163629  32063.693350  ...     0.206452   234.260108
min       1.000000   1040.000000  ...     0.000000 -6599.978000
25%    2499.250000  23223.000000  ...     0.000000     1.728750
50%    4997.500000  56430.500000  ...     0.200000     8.666500
75%    7495.750000  90008.000000  ...     0.200000    29.364000
max    9994.000000  99301.000000  ...     0.800000  8399.976000

[8 rows x 6 columns]

In [15]:
# Informasi tipe data, kolom, jumlah dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

# Seleksi Data

In [26]:
# Menampilkan 10 random sample dari dataframe
df['Country'].sample(n=10)

8401    United States
3943    United States
5862    United States
4951    United States
4311    United States
3575    United States
8400    United States
3665    United States
4158    United States
527     United States
Name: Country, dtype: object

In [30]:
df.head(1).T

                                               0
Row ID                                         1
Order ID                          CA-2016-152156
Order Date                   2016-11-08 00:00:00
Ship Date                    2016-11-11 00:00:00
Ship Mode                           Second Class
Customer ID                             CG-12520
Customer Name                        Claire Gute
Segment                                 Consumer
Country                            United States
City                                   Henderson
State                                   Kentucky
Postal Code                                42420
Region                                     South
Product ID                       FUR-BO-10001798
Category                               Furniture
Sub-Category                           Bookcases
Product Name   Bush Somerset Collection Bookcase
Sales                                     261.96
Quantity                                       2
Discount                                       0
Profit                                   41.9136

In [31]:
df['State'].unique()

array(['Kentucky', 'California', 'Florida', 'North Carolina',
       'Washington', 'Texas', 'Wisconsin', 'Utah', 'Nebraska',
       'Pennsylvania', 'Illinois', 'Minnesota', 'Michigan', 'Delaware',
       'Indiana', 'New York', 'Arizona', 'Virginia', 'Tennessee',
       'Alabama', 'South Carolina', 'Oregon', 'Colorado', 'Iowa', 'Ohio',
       'Missouri', 'Oklahoma', 'New Mexico', 'Louisiana', 'Connecticut',
       'New Jersey', 'Massachusetts', 'Georgia', 'Nevada', 'Rhode Island',
       'Mississippi', 'Arkansas', 'Montana', 'New Hampshire', 'Maryland',
       'District of Columbia', 'Kansas', 'Vermont', 'Maine',
       'South Dakota', 'Idaho', 'North Dakota', 'Wyoming',
       'West Virginia'], dtype=object)

In [ ]:
# Seleksi df dengan syarat country == canada
# Kemudian replace ke variabel df
df = df[df['Country' == 'Canada']]